.wing/
/Game_Platform/bin-debug/
/Game_Platform_android/
/Game_Platform_ios/
/FishEditor/bin-debug/
/FishEditor_android/
/FishEditor_ios/
/Game_Platform/manifest.json
/Game_Platform/libs/exml.e.d.ts
/Game_Platform/libs/modules/assetsmanager/assetsmanager.d.ts
/Game_Platform/libs/modules/assetsmanager/assetsmanager.js
/Game_Platform/libs/modules/dragonBones/dragonBones.d.ts
/Game_Platform/libs/modules/dragonBones/dragonBones.js
/Game_Platform/libs/modules/egret/egret.d.ts
/Game_Platform/libs/modules/egret/egret.js
/Game_Platform/libs/modules/egret/egret.min.js
/Game_Platform/libs/modules/egret/egret.web.js
/Game_Platform/libs/modules/egret/egret.web.min.js
/Game_Platform/libs/modules/eui/eui.d.ts
/Game_Platform/libs/modules/eui/eui.js
/Game_Platform/libs/modules/eui/eui.min.js
/Game_Platform/libs/modules/game/game.d.ts
/Game_Platform/libs/modules/game/game.js
/Game_Platform/libs/modules/game/game.min.js
/Game_Platform/libs/modules/promise/promise.js
/Game_Platform/libs/modules/socket/socket.d.ts
/Game_Platform/libs/modules/socket/socket.js
/Game_Platform/libs/modules/tween/tween.d.ts
/Game_Platform/libs/modules/tween/tween.js
.DS_Store
Game_Platform/.wing/settings.json
